.fs {
  width: 100%;
  height: 100vh;
  background: url('./img/home-fs.jpg') no-repeat center top / cover;
}

.top-bar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  overflow: hidden;
}

.top-bar .container {
  background: linear-gradient(90deg, #1a2a33, #34454d);
  border-radius: 0 0 15px 15px;
  padding: 0;
}

.top-bar-header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, transparent, #1a2a33);
  padding: 15px 0;
  border-radius: 0 0 15px 15px;
}

.top-bar-header .bbtn {
  margin: auto;
}

.logo {
  margin: 15px;
  max-width: 100%;
}

/* NAVIGATION */
.nav-wrapper {
  padding-right: 40px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav li a {
  text-transform: uppercase;
  padding: 10px;
}

.main-menu {
  margin-top: 10px;
}

.main-menu li a {
  font-size: 22px;
  font-family: 'Decor';
  color: #8a8e93;
  display: block;
}

.main-menu li a:hover,
.main-menu li a.current-menu-item {
  color: #ffffcc;
}

/* FS */
.fs .content-wrapper {
  display: flex;
  align-items: center;
  padding-top: 180px;
}

.fs h1 {
  font-size: 80px;
}

.fs p {
  font-size: 26px;
  line-height: 1.2;
  margin: 70px 0;
  max-width: 500px;
}

/* S2 */
.s2 {
  background: url('./img/s2-bg.jpg') no-repeat left center / auto;
  padding: 140px 0;
}

.s2-content {
  width: 100%;
  margin-left: auto;
  box-shadow: 0 0 30px 50px #fff;
  background-color: #fff;
}

/* S3 */
.s3 {
  margin-bottom: 100px;
}

.cat-controller {
  margin: 80px 0;
}

.s3 .tags a {
  font-size: 22px;
  color: #00b3e5;
  padding: 10px 10px 10px 0;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
}

.post-preview__wrapper {
  margin-bottom: 20px;
}

.post-preview {
  background-color: #182329;
  padding: 40px 30px 20px 30px;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.post-preview__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}

.post-preview__date {
  color: #ddd;
  font-size: 90%;
}

.post-preview__more {
  color: #ffffcc;
  text-align: right;
  margin-top: auto;
  padding-top: 20px;
  display: inline-flex;
  align-self: flex-end;
  font-size: 90%;
  transition: all 0.3s ease-out;
}

.post-preview__more:hover {
  color: #ffffcc;
  text-decoration: none;
  padding-right: 20px;
}

/* S4 */
.s4 {
  padding: 120px 0;
  position: relative;
  background: url('./img/s4-bg.jpg') no-repeat center / cover;
  min-height: 1500px;
}

.s4 h2 {
  text-align: right;
  margin-bottom: 50px;
}

.go-to-forum {
  color: #ffffcc;
  text-decoration: underline;
  margin: 50px auto;
  display: table;
}

/* S5 Events Calendar*/
.s5 {
  margin: 120px 0;
}

.events-app {
  display: flex;
  align-items: stretch;
  background: url('./img/calendar-bg.jpg') no-repeat center / cover;
  border-radius: 15px;
  box-shadow: 4px 3px 18px rgba(0, 0, 0, 0.23);
}

.events-app .post-preview {
  padding: 40px;
  background: transparent;
}

.events-app .post-preview .post-preview__date {
  margin: 20px 0;
}

.s5 .post-preview__date {
  color: #8a8e93;
}

.events-app .post-preview .post-preview__more {
  color: #00b3e5;
  align-self: flex-start;
}

.events-app .post-preview .post-preview__more:hover {
  padding-left: 20px;
}

.calendar {
  background-color: #182329;
  box-shadow: 4px 3px 18px rgba(0, 0, 0, 0.23);
  color: #fff;
  font-size: 22px;
  min-width: 500px;
  border-radius: 15px;
  padding: 20px;
}

.tavo-calendar__header,
.tavo-calendar__week-names {
  background-color: transparent;
}

.tavo-calendar__week-names {
  color: #8a8e93;
}

.tavo-calendar__day:after {
  content: '';
  padding-top: 100%;
  display: block;
}

.tavo-calendar__day {
  position: relative;
}

.tavo-calendar__day span {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 70%;
  font-size: 22px;
}

.tavo-calendar__day_abs-today {
  background-color: #ffffcc;
  color: #182329;
  border-radius: 5px;
}

.tavo-calendar__day_select span,
.tavo-calendar__day span:hover {
  background-color: transparent;
  color: inherit;
  border-radius: 5px;
}

.tavo-calendar__day_select span,
.tavo-calendar__day_select span:hover {
  background-color: #00b2e4;
  color: #1a2a33;
  cursor: pointer;
}

/* S7 Friends */
.s7 {
  padding: 90px 0;
  background-color: rgba(27, 43, 52, 0.08);
}

.s7 h2 {
  margin-bottom: 80px;
}

.s7 img {
  display: block;
  margin: 20px auto;
}

/* S8 */
.s8 {
  padding: 115px 0;
}

.widget-title {
  font-size: 26px;
  margin-bottom: 15px;
  filter: drop-shadow(4px 4px 18px rgb(255 255 255 / 30%));
}

footer .nav {
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  align-items: flex-start;
}

footer .nav li {
  margin-bottom: 5px;
}

footer .nav li a {
  padding: 5px;
}

footer .nav li a:hover {
  margin-left: 5px;
  color: #ffffcc;
}

.footer-info {
  font-size: 15px;
}

.s8 .col-12 {
  margin-bottom: 20px;
}