/* FONTS */
@font-face {
  font-family: 'Decor';
  src: url('./fonts/28_days_later_cyr.ttf');
}

@font-face {
  font-family: 'Normal';
  src: url('./fonts/MuseoSansCyrl_1.otf');
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

button:focus,
a:focus,
input:focus,
select:focus {
  outline: none;
}

body {
  font-size: 22px;
  font-family: 'Normal', serif;
  color: #373f4a;
}

body.no-scroll {
  overflow: hidden;
}

body.has-stiky {
  margin-top: 200px;
}

/* COLORS */
.blue {
  color: #00b2e4;
}

.bg-blue {
  background-color: #00b2e4;
}

.dark {
  color: #21333c;
}

.bg-dark {
  background-color: #21333c;
}

.yel {
  color: #ffffcc;
}

.bg-yel {
  background-color: #ffffcc;
}

.gray {
  color: #8a8e93;
}

.bg-gray {
  background-color: #8a8e93;
}

.orange {
  color: #f9bf34;
}

.bg-orange {
  background-color: #f9bf34;
}

.white {
  color: #fff;
}

/* BUTTONS */
.bbtn,
.bbtn--yel,
.bbtn--small,
.outline-bbtn--small,
.outline-bbtn--xsmall {
  padding: 10px 40px;
  color: #21333c;
  background-color: #00b2e4;
  font-size: 24px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 150px;
  font-family: 'Decor';
  cursor: pointer;
}

.bbtn:hover,
.bbtn--yel:hover,
.bbtn--small:hover,
.bbtn--small.current {
  text-decoration: none;
  background-color: #21333c;
  color: #ffffcc;
  text-decoration: none;
}

.outline-bbtn,
.outline-bbtn--small,
.outline-bbtn--xsmall {
  background-color: transparent;
  color: #21333c;
  border: 2px solid;
  padding: 3px 30px;
  font-size: 120%;
}

.outline-bbtn--small.current,
.outline-bbtn--small:hover,
.outline-bbtn--xsmall.current,
.outline-bbtn--xsmall:hover {
  background-color: #00b2e4;
  color: #fff;
  border: 2px solid #00b2e4;
  text-decoration: none;
}

.bbtn--yel {
  background-color: #ffffcc;
}

.bbtn--small {
  font-family: inherit;
  font-size: 22px;
  text-transform: none;
  color: #fff;
  padding: 5px 30px;
}

.outline-bbtn--xsmall {
  font-family: 'Normal';
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}

/* TIPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: 'Decor';
}

h1,
h2 {
  font-size: 80px;
}

.link {
  color: inherit;
}

.link:hover,
.nav li a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.font-normal,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: "Normal";
}

article h1 {
  font-size: 55px;
  text-transform: uppercase;
  margin: 40px 0 20px 0;
  font-weight: bold;
}

article h2 {
  font-size: 50px;
  margin: 40px 0 20px 0;
}

.tt {
  text-transform: uppercase;
}

/* UTIL */
.h100p {
  height: 100%;
}

.w100p {
  width: 100%;
}

.bb {
  border-bottom: 4px solid #00b2e4;
}

.box-shadow {
  box-shadow: 4px 4px 18px rgba(0 0 0 / 23%);
}

.text-shadow {
  filter: drop-shadow(4px 4px 18px rgba(251 210 87 / 23%));
}

.breadcrumbs {
  font-size: 20px;
}

.popup-overlay {
  position: fixed;
  background-color: rgba(0 0 0 / 50%);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: none;
}

.popup-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  border-radius: 20px;
  max-width: 100%;
  width: 900px;
}

.popup-overlay i {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 60px;
  color: white;
  cursor: pointer;
  z-index: 101;
}

/* SVG */
.triangle-top,
.triangle-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.triangle-bottom {
  transform: rotate(180deg);
  top: auto;
  bottom: 0;
}

.preloader {
  width: 100%;
  height: 100px;
  background: url('./img/preloader.svg') no-repeat center / 100px;
}

/* SOCIALS */
.socials a,
.share a {
  width: 45px;
  height: 45px;
  display: inline-block;
  margin: 10px;
}

.socials a:hover {
  transform: scale(1.1);
}

.socials a svg {
  height: 100%;
  width: 100%;
  fill: #f9bf34;
}

footer .socials {
  margin: 30px 0;
}

/* SHARE */
.share a {
  background-color: #ccc;
}

/* PAGINATION */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.pagination a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #b9bcc1;
  color: #373f4a;
  border-radius: 50%;
  margin: 5px;
}

.pagination a.current,
.pagination a:hover {
  background-color: #373f4a;
  color: #fff;
  text-decoration: none;
}